 #map {
     width: 100%;
     height: 100%;
 }
 
 .ui-dialog {
     width: 240px
 }
 #legenda {
       padding: 0px;
    margin: 10px;
    cursor: pointer;
        
    }
    #comm-search {
    padding: 10px;
    }
    #nonenergy {
        padding: 0px;
    margin: 0px;
      
        
    }
    #energy {
  
       padding: 0px;
    margin: 0px;
      
    }

#searchaddress {
font-size: 138%;

}
#searchform {
height: 27px;
}
#searchform INPUT {
height: 25px;
margin-left: 5px;
padding: 2px;


}
#submitbutton {
height: 30px !important;
font-size: 120%;
padding-left: 5px !important; 
padding-right: 5px !important;
}

/*legendtoc styles*/

ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

#map-legend li {
background-image: url("images/folder-off.png");
background-repeat: no-repeat;
padding-left: 16px; 
margin-left: -16px;
}
#base-legend li {
background-image: url("images/base-off.png");
background-repeat: no-repeat;
padding-left: 16px; 
}


#com-container li.folder, #map-legend li.folder {
margin-left: 14px; 
}


#map-legend li.open{
background-image: url("images/folder-on.png") !important;
background-repeat: no-repeat;
}

.ul-closed {
display: none;
}

#map-legend li.li-layer {
background-image: url("images/layer-off.png");
}
#map-legend li.loading{
background-image: url("images/spinner.gif");
}
#base-legend li, #map-legend li {
cursor: pointer;
}
#layers .folder-img , #map-legend .folder-img {
width:14px;
height: 14px;
float:left;
}
#map-legend li.layer-on{
background-image: url("images/layer-on.png");
}

#base-legend li.baselayer-on{
background-image: url("images/base-on.png") !important;
}
#base-legend li.baselayer-off{
background-image: url("images/base-off.png") !important;
}
#layers li {
background-repeat: no-repeat;
padding-left: 16px; 
background-image: url("images/folder-off.png");
}

#layers li.layer-on{
background-image: url("images/layer-on.png");
}
#layers li.li-layer {
background-image: url("images/layer-off.png");
}

#layers li.open{
background-image: url("images/folder-on.png");
}
